@media (max-width: 900px) {
  .signIn_and_signUp {
    justify-content: center;

    width: 100%;
  }
  .btn {
    display: flex;
  }
  .buttons {
    flex-direction: column;
    margin: 5px 0;
  }
  .buttons button {
    /* flex-direction: column; */
    margin: 5px 0;
  }
  .sign_up_form button {
    width: 100%;
  }
}
