@media (min-width: 690px) and (max-width: 750px) {
  .preview {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 16px;
    margin-bottom: 5px;
  }
  .preview .title {
    font-size: 29px !important;
    margin-left: 3rem;
  }
  .preview .collection_item {
    margin-bottom: 8px;
    width: 26vw;
  }
}
@media (min-width: 490px) and (max-width: 690px) {
  .preview {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 16px;
    margin-bottom: 5px;
  }
  .preview > .title {
    font-size: 29px !important;
    margin-left: 3rem;
  }
  .preview .collection_item {
    margin-bottom: 8px;
    width: 26vw;
  }
}
@media (max-width: 490px) {
  .preview {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    margin: 0 16px;
    margin-bottom: 5px;
  }
  .preview > .title {
    font-size: 29px !important;
    margin-left: 3rem;
  }
  .preview .collection_item {
    margin-bottom: 8px;
    width: 45vw;
  }
}
