@media (min-width: 670px) and (max-width: 830px) {
  .check_out_page {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: none;
  }
}
@media (min-width: 586px) and (max-width: 670px) {
  .check_out_page {
    width: 70%;
  }
}
@media (max-width: 585px) {
  .check_out_page {
    width: 70%;
    margin: 0;
  }
  .check_out_page .checkout_header {
    display: none;
  }
}
