@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}
@include keyframes(slide-down) {
  0% {
    font-size: 14.3rem;
    padding: 0 25px;
    height: 100%;
    position: absolute;
    top: 180px;
    left: 37%;
    transform: rotate(360deg);
  }
  100% {
    font-size: 4.3rem;
  }
}
.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0;
    background-color: rgb(255, 255, 255);
    opacity: 0.8;
  }
  .hamBurger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  .logo_container {
    @include animation("slide-down 2s ease-in-out");
    font-size: 4.3rem;
    padding: 0 25px;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;

    a {
      color: #00b8ff;
    }
  }
  .menu_option {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    a {
      text-decoration: none;
      color: black;
    }
    .links {
      display: flex;
    }
    .option {
      padding: 10px 15px;
      cursor: pointer;
      text-transform: uppercase;
    }
    .ActiveNavLink {
      // color: red;
      border-bottom: 1px solid;
    }
  }
}
